<!DOCTYPE html>
<html>
<head>
  <title>Eventprite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= render 'layouts/header' %>
	<%= yield %>
	<footer>
		<p>An event planning application by <a href="http://mgregersen.dk">Martin Gregersen</a></p>
	</footer>
</div>

</body>
</html>
